on post-fs-data
    # GPS
    mkdir /data/vendor/gps 0770 gps system
    mkdir /data/vendor/log 0770 gps system
    mkdir /data/vendor/log/gps 0770 gps system

    # GPS EMI
    chmod 0660 /dev/gps_emi

    # WiFi
    mkdir /data/vendor/wifi 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa/sockets 0770 wifi wifi

# GPS
service mnld /vendor/bin/mnld
    class main
    user gps
    capabilities WAKE_ALARM
    group gps inet misc sdcard_rw sdcard_r media_rw system radio wakelock
    socket mnld stream 660 gps system

# conninfra
service conninfra_loader /vendor/bin/conninfra_loader
    class core
    user system
    group system
    oneshot
