#change partition permission
# UFS only
/dev/block/sda                                   0660    root    system
/dev/block/sdb                                   0660    root    system
/dev/block/sdc                                   0660    root    system

# eMMC/UFS common
/dev/block/by-name/boot      0640    root    system
/dev/block/by-name/seccfg    0660    root    system
/dev/block/by-name/proinfo   0660    root    system
/dev/block/by-name/nvram     0660    root    system
/dev/block/by-name/para      0660    root    system
/dev/block/by-name/logo_a      0660    root    system
/dev/block/by-name/logo_b      0660    root    system
/dev/block/by-name/frp       0660    root    system
/dev/block/by-name/md1img_a  0640    root    system
/dev/block/by-name/md1img_b  0640    root    system
/dev/block/by-name/modem_a  0640    root    system
/dev/block/by-name/modem_b  0640    root    system
/dev/block/by-name/boot_para 0640    root    system

# OTP
/dev/block/by-name/otp       0660    root    system

# Connectivity
/dev/fw_log_wifimcu       0660   system     system
/dev/fw_log_btmcu         0660   system     system
/dev/fw_log_gpsmcu        0660   system     system
/dev/conninfra_dev        0660   system     system
/dev/conn_scp             0660   system     system
/dev/conn_pwr_dev         0660   system     system
/dev/aol_flp              0660   system     system
/dev/aol_geofence         0660   system     system

# BT
/dev/stpbt                0660   bluetooth  bluetooth
/dev/fw_log_bt            0660   bluetooth  bluetooth

# GPS
/dev/gpsdl0               0600   gps        gps
/dev/gpsdl1               0600   gps        gps
/dev/gps_emi              0600   gps        gps
/dev/gps2scp              0600   gps        gps
/dev/gps_pwr              0600   gps        gps

# WIFI
/dev/wmtWifi              0660   wifi     wifi
/dev/fw_log_wifi          0660   wifi     wifi
/dev/fw_log_ics           0660   wifi     wifi
/dev/coredump_wifi        0440   system   system

# FMRadio
/dev/fm                   0660   media     media

# OpenDSP
/dev/audio_ipi            0640   media     media

# ConnFem
/dev/connfem              0660   system     system

# Trusty driver
/dev/trusty-ipc-dev0      0660   system     system

# teeperf driver
/dev/teeperf              0660   system     system

#v4l2 device
/dev/video*      0660 camera system
/dev/media*      0660 camera system
/dev/v4l-subdev* 0660 camera system

#v4l2 codec
/dev/vcu    0660 camera system

#v4l2 camera
/dev/mtk_hcp     0660 camera system

# DRM node
/dev/dri/card0            0660   system     system

# MDDP node
/dev/mddp                 0640   system     system

/dev/ccci*                0660   radio      radio
/dev/ttyC*                0660   radio      radio
/dev/ccci_aud             0660   audio      audio
/dev/ccci_raw_audio            0660   audio      audio
/dev/irtx                 0660   system     system

# Camera
/dev/camera_eeprom*       0660   system     camera

# Charger
/sys/class/power_supply/battery input_suspend 0660 system system

# Mali node
/dev/mali0                0666   system     graphics

# Change DMA_HEAP deice permission
#     refs: /system/core/rootdir/uevent.rc
#           /dev/dma_heap/system      0444   system     system
/dev/dma_heap/mtk_mm                        0444   system     system
/dev/dma_heap/mtk_mm-uncached               0444   system     system
/dev/dma_heap/mtk_svp_page-uncached                 0444   system     system
/dev/dma_heap/mtk_prot_page-uncached                0444   system     system
/dev/dma_heap/mtk_svp_region                        0444   system     system
/dev/dma_heap/mtk_svp_region-aligned                0444   system     system
/dev/dma_heap/mtk_prot_region                       0444   system     system
/dev/dma_heap/mtk_prot_region-aligned               0444   system     system
/dev/dma_heap/mtk_2d_fr_region                      0444   system     system
/dev/dma_heap/mtk_2d_fr_region-aligned              0444   system     system
/dev/dma_heap/mtk_wfd_region                        0444   system     system
/dev/dma_heap/mtk_wfd_region-aligned                0444   system     system
/dev/dma_heap/mtk_wfd_page-uncached                 0444   system     system
/dev/dma_heap/mtk_sapu_data_shm_region              0444   system     system
/dev/dma_heap/mtk_sapu_data_shm_region-aligned      0444   system     system
/dev/dma_heap/mtk_sapu_engine_shm_region            0444   system     system
/dev/dma_heap/mtk_sapu_engine_shm_region-aligned    0444   system     system

#hang_detect
/dev/RT_Monitor           0660   system     system

#sensor
/dev/hf_manager        0660    system    system

#dynamic sensor
/dev/hidraw*   0660 system system

#elliptic sensor
/dev/elliptic0            0644   system     system
/dev/elliptic1            0644   system     system
